@import 'vars';
@import 'mixins.scss';

body { 
  margin: 0;

  font-family: $text-font;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none; 
}

a { 
  text-decoration: none;
  font-family:'Roboto', sans-serif;
}

main {
  overflow: hidden;
}

.dark-section {
  color: white;
  background-color: $bg-dark;

  a {
    color: white;
  }
}

.light-section {
  color: black;
  background-color: white;

  a {
    color: black;
  }
}


.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 199px;
  width: 100%;

  padding: 2px;

  svg {
    fill: white;
    transition: 0.7s;
    
    &:hover {
      fill: $font-gold; 
    }
  }

  .logo-text {
    margin: 0 0 -5px 0;

    @include title-font;
    font-size: 1.75rem;
    line-height: 1.9rem;

    transition: 0.3s;

    &:hover {
      color: $font-gold;
    }
  }
}

//TO DO move out this and 
@media only screen and (max-width: $break-1024) {
  body {
    font-size: 14px;
  }
  a { font-size: 20px; }
}

@media only screen and (max-width: $break-768) {
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: $break-420) {
  body {
    font-size: 9px;
  }
}