@media only screen and (max-width: $break-1024) {
  .explore-section { 
    margin-top: 10px;

    h2:after { 
      top: 92px;
    }
    
    p {
      margin-top: 0;
      margin-bottom: 0px;

      font-size: 20px;
      line-height: 35px;

      &:nth-of-type(2) {
        margin-bottom: 62px;
      }

      &:last-of-type {
        display: none;
      }
    }
    
    .container {
      flex-direction: column;
      align-items: center;

      .text-content {
        max-width: unset;
      }

      .slider-container {
        margin-top: 0;
      }
    }
  }
}
