@media only screen and (max-width: 1024px) {
.explore-section.underline-title {
  &::after {
    max-width: $wrapper-length-1024-984;
    margin-left: auto;
  }
} 

  .explore-section { 
    margin-top: 10px;

    h2:after { max-width: 984px; }
    
    p {
      margin-top: 0;
      margin-bottom: 0px;

      font-size: 20px;
      line-height: 35px;

      &:nth-of-type(2) {
        margin-bottom: 62px;
      }

      &:last-of-type {
        display: none;
      }
    }
    
    .container {
      flex-direction: column;
      align-items: center;

        .text-content {
        max-width: 984px;
      }

      .slider-container {
        margin-top: 0;
      }
    }
  }
}
