@media only screen and (max-width: 768px) {
  .inner-footer {
    flex-wrap: wrap;
    row-gap: 54px;

    padding-top: 40px;
    padding-bottom: 37px;
    padding-right: 90px;
  }

  .footer-nav {
    max-width: 343px;

    margin-top: 14px;
    margin-right: 0;
    margin-left: 0;
  }

  .footer-nav-list {
    row-gap: 23px;
  }


  .footer-socials {
    margin-left: auto;
  }

 .footer-nav-link {
   font-size: 18px;
   font-weight: 100;
   line-height: 21px;
  }

  .footer-bottom {
    min-height: 99px;
    height: 100%;
  }
}