footer {
  padding: 0 20px; 
}

.inner-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 137px;

  max-width: $wrapper-length-1920-1440;
  margin: 0 auto;

  padding-top: 75px;
  padding-bottom: 50px;
}

.footer .logo {
  align-items: flex-start;
}

.footer-nav {
  display: flex;
  column-gap: 166px;

  margin-top: 6px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;

  max-height: 155px; 
}

.footer-nav-link {
  margin-top: 2px;

  font-family:'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #fff;
  font-style: normal;
  line-height: 25.78px;
  letter-spacing: 2px;

  transition: 0.3s;

  &:hover,
  &:active {
    color: $font-gold;
  }
}

.footer-socials {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 25px;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: auto;

  li { 
    display: inline-block; 

    a { 
      display: block;

      svg rect {
        stroke: #fff; 
        transition: 0.7s;
      }
                
      svg path {
        fill: #fff; 
        transition: 0.7s;
      }
    
      &:hover {
        svg rect { stroke: $font-gold; }
        svg path { fill: $font-gold;}
      }
    }
  }
}

hr {
  margin: 0;
  height: 3px;
  background-color: #666666;
  border: none;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1440px;
  height: 124px;
  margin: 0 auto;

  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 100;
}

.school {
  padding-left: 32px;
}