@media only screen and (max-width: 1024px) {
  footer {
    height: 368px;
  }

  .inner-footer {
    justify-content: space-between;
    column-gap: unset;
    padding-top: 65px;
  }

  .footer-nav {
    justify-content: space-between;
    max-width: 313px;
    width: 100%;
    column-gap: unset;
    margin-top: 0;
    margin-left: -34px;
  }
  
  .footer-socials {
    margin-left: 0;
  }

  .foter-nav-link {
    margin-top: 0;
  }
}