@media only screen and (max-width: 420px) {
  footer {
    height: auto;
  }

  hr {
    height: 1px;
  }

  .inner-footer {
    justify-content: space-between;
    height: auto;
    row-gap: 40px;
    padding-right: 0;
  }

  .footer-nav {
    flex-direction: column;
    justify-content: space-between;

    row-gap: 30px;
    margin-top: 0;

    max-width: none;
  }

  .footer-nav-list {
    flex-direction: row;
    row-gap: unset;
  }

  .footer-nav-link {
    margin-top: 0;

    font-size: 16px;
    line-height: 18.75px;
  }

  .footer-socials {
    margin-right: auto;
    column-gap: 5px;
  }

  .footer-bottom {
    font-size: 16px;
    height: 102px; 
  }

  .school {display: none;}
}