@import 'mixins.scss';

.section { 
  width: 100%;
  margin: 0 auto;
  padding: 75px 0; 
}

.container {
  max-width: $wrapper-length-1920-1440;
  width: 100%;
}

.section-title {
  margin-bottom: 103px;
  margin-top: 0;

  @include title-font;
  font-size: 80px;
  line-height: 90px;
}

.gold-title { color: $font-gold; }

.underline-title { 
  position: relative; 

  &::after {
    content: "";
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    height: 3px;
    max-width: $wrapper-length-1920-1440;
    margin: 0 auto;
    background-color: #710707;
  }
}