@media only screen and (max-width: 1024px) {
  .tickets-content-container {
    height: 440px;

    background-image: url(../assets/ticket_images/ticket_img_1024.webp);
  }

  .ticket-input-area {
    max-width: 175px;

    margin-right: 29px;
  }

  .ticket-left-column { 
    display: none;
  }

  .ticket-right-column { 
    max-height: 321px; 
    max-width: 175px;

    margin-left: 80px;

    h4 { 
      text-align: left;
    }

    .number-input {
      height: 90px;
      width: 175px;

      &:first-of-type { padding-bottom: 29px; }

      &:last-of-type { padding-bottom: 25px;}

      label { margin-bottom: 10px;}

      p { line-height: 29px;}
    }
  }

  input[type=number] { 
    width: 175px;
    height: 50px;
  }

  .confirm-container {
    text-align: left;

    .buy-now {
      overflow: hidden;
      cursor: pointer;

      border: none;
      background-color: #000;

      &:hover {
        background-color: $font-gold;
      }
    }

    .buy-now:after {
      content: "";
      background: $dark-red;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }
    
    .buy-now:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
  }

  .output-sum-text {
    display: block;
    margin-bottom: 69px;
    line-height: 26px;
  }
}