@media only screen and (max-width: $break-768) {
  .tickets-section .container {
    max-height: 553px;;

    background-image: none;
  }

  .ticket-input-area {
    background-image: url(../assets/ticket_images/ticket_img_768.webp);
    background-position: top left;
    background-size: 444px 340px;
    background-repeat: no-repeat;
  }

  .ticket-right-column { 
    margin-right: 19px;

    gap: 10px;

    h4 {
      margin-bottom: 10px;  
    }

    label {
      margin-bottom: 0;
    }
  }

  .buy-now { 
    margin-top: 30px;
    margin-right: 50px;
  }

  .output-sum-text {
    margin-top: 27px;
  }
}