@media only screen and (max-width: $break-1024) {
  .tickets-section .container {
    height: 598px;
    background-image: url(../assets/ticket_images/ticket_img_1024.webp);
  }

  .ticket-input-area {
    margin-right: 28px;
    padding-left: 0;
  }

  .ticket-right-column { 

    h4 { 
      text-align: left;
      margin-bottom: 0;
    }

    .number-input {
      width: 175px;
    }

  }

  .ticket-input-area label {
    margin-top: 9px;
    margin-bottom: 0px;
  }

  .output-sum-text {
    margin-top: 15px;
  }

  .buy-now {
    margin-right: 28px;
    margin-top: 57px;
  }
}