.tickets-section .container {
  height: 743px;
  background-position: bottom left;
  background-image: url(../assets/ticket_images/ticket_img.webp);
  background-repeat: no-repeat;
}

.ticket-input-area {
  display: flex;
  justify-content: space-between;

  padding-left: calc($wrapper-length-1920-1440 / 2 + 60px);
}

.ticket-input-area h4 {
  margin-top: 0;
  font-size: 1.75rem;
}

.ticket-input-area label {
  font-size: 1.375rem;
}

.ticket-left-column { 
  display: flex;
  flex-direction: column;

  label { 
    margin-top: 7px;
    margin-bottom: 21px;
    padding-left: 40px;
  }

  input[type=radio] {
    margin: 3px 0;
  }
}

.ticket-right-column { 
  display: flex;
  flex-direction: column;
  gap: 11px; 

  h4 { 
    margin-bottom: 12px;
    text-align: right;
  }
  
  label {
    margin-bottom: 5px;
  }
}

.number-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-sizing: border-box;

  width: 150px;
  height: 50px;

  border: 3px solid #000;
}

.number-input input[type=number] { 
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  padding: 0;
  text-align: center;
  font-size: 26px;

  outline: none;
  border: none;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button {
  -webkit-appearance: none;
  font-size: 32px;
  background-color: transparent;
  border: none;
  outline:none;
}

.buy-now {
  position: relative;
  float: right;
  height: 50px; 
  width: 175px;

  margin-top: 47px;

  font-family: $text-font;
  font-size: 22px;
  @include link-font;
  color: #fff;

  overflow: hidden;

  border: none;
  background-color: #000;

  &:hover {
    background-color: $font-gold;
  }
}

.buy-now:after {
  content: "";
  background: $dark-red;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.buy-now:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.output-sum-text {
  display: block;

  margin-top: 43px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.65px;
}

/* RADIO BUTTON STYLE   */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 17px;
    border: 3px solid #000;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;

    width: 7px;
    height: 7px;

    background: #000;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* END  RADIO BUTTON STYLE */

@media (max-width: 1115px) {
  .ticket-input-area {
    padding-left: 0;
    justify-content: flex-end;
  }

  .ticket-left-column {
    display: none;
  }
}