$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;

$text-font: 'Roboto', sans-serif;
$title-font: 'Forum';

$root-font-size-1920: 22px;
$root-font-size-1024: 22px;
$root-font-size-768: 22px;
$root-font-size-420: 22px;

$root-font-weitgh-1920: 300;
$root-font-weitgh-1024: 300;
$root-font-weitgh-768: 300;
$root-font-weitgh-420: 300;

$break-1024: 1024px;
$break-768: 768px;
$break-420: 420px;

$wrapper-lengh-1920-1440: 1440px;
$wrapper-lengh-1024-1440: 1440px;
$wrapper-lengh-768-1440: 1440px;
$wrapper-lengh-420-1440: 1440px;

