$bg-dark: #030303;
$dark-red: #710707;
$font-gold: #9d8665;

$text-font: 'Roboto', sans-serif;
$title-font: 'Forum';

$root-font-size-1920: 22px;
$root-font-size-1024: 22px;
$root-font-size-768: 22px;
$root-font-size-420: 22px;

$root-font-weitgh-1920: 300;
$root-font-weitgh-1024: 300;
$root-font-weitgh-768: 300;
$root-font-weitgh-420: 300;

$break-1024: 1024px;
$break-768: 768px;
$break-420: 420px;

$wrapper-length-1920-1440: 1440px;
$wrapper-length-1024-984: 984px;
$wrapper-length-768-768: 728px;
$wrapper-length-420-420: 380px;

$video-screen-btn-1920: 220px;
$video-screen-btn-1024: 152px;
$video-screen-btn-768: 80px;
$video-screen-btn-420: 50px;

$video-height-1920: 650px;
$video-height-1024: 444px;
$video-height-768: 329px;
$video-height-420: 172px;

$video-control-heigth-1920: 85px;
$video-control-heigth-1024: 60px;
$video-control-heigth-768: 53px;
$video-control-heigth-420: 50px;

