@media only screen and (max-width: 768px) { 
  .video-section {
    h2 { margin-bottom: 20px; }
  }

  video { 
    max-width: 726px;
    max-height: 388px;

    margin-bottom: 20px;
  }

  /* Styles for slider */
  @import "video_slider_768.scss";
}