@media only screen and (max-width: 768px) { 
  .video-section {
    .section-title { margin-bottom: 20px; }
  }

  .custom-vp {
    max-height: 368px;
  }

  video { 
    max-width: 728px;
    max-height: 386px;

    margin-bottom: 20px;
  }

  .screen-play-btn {
    top: calc(($video-height-768 - $video-screen-btn-768) / 2);
    left: calc(($wrapper-length-768-768 - $video-screen-btn-768) / 2);

    width: $video-screen-btn-768;
    height: $video-screen-btn-768;
  }

  .video-control {
    order: 2;
    height: 63px;
    top: -80px;
  }

  .time-range {
    order: 3;
    max-width: 486px;  
  }
  
  .toggle-fullscreen {
    order: 4;
  }

  .volume-range { 
    display: none;
  }

  /* Styles for slider */
  @import "video_slider_768.scss";
}