@media only screen and (max-width: 768px) { 
  .dots-control {
    width: 190px;
    height: 12px;
    
    margin: 20px auto 40px auto;
  }

  .dot-btn {
    height: 10px;
    width: 10px;
  }

  .video-section .container .slide-screen {
    max-width: 350px;
    height: 199px;

    &:first-of-type {display: none;}
  }
}