.visiting-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 60px; 
}

.cards { 
  display: block; 

  color: #000;

  h3 {
    position: relative;

    margin-top: 1.5rem;
    margin-bottom: 1.2rem;

    @include title-font;
    font-size: 2rem;
    line-height: 2.1875rem;

    &::after {
      position: absolute;
      content: '';
      height: 2px;
      bottom: -10px;
      left: 0;

      width: 300px;
      
      background-color: $dark-red;

      transition: 0.5s;
    }
  }

  p { 
    margin: 0;

    font-weight: 100;
    font-size: 1.375rem;
    line-height: 1.625rem;

    &:last-of-type {
      font-size: 1.125rem;
      margin-top: 0.5em;
    }
  }
}

.visiting-cards a:hover  {
  h3::after { 
    width: 100%;
  }
}