@media only screen and (max-width: $break-768) {
  .welcome-section {
    // height: 861px;

    .container {
      grid-template-columns: 20px minmax(auto, 193px ) minmax(auto, 340px) minmax(auto, 193px)  20px;
      grid-template-rows: minmax(auto, 120px) 
                          minmax(auto, 25px) 
                          minmax(auto, 20px)
                          minmax(auto, 50px) 
                          minmax(auto, 546px) 
                          minmax(auto, 100px);

      h1 { 
        grid-area: 1 / 2 / 2 / 5;
        text-align: center;

        font-size: 40px;
        line-height: 60px ;
      }

      p {
        grid-area: 3 / 2 / 4 / 5;
        font-size: 20px;
        text-align: center;
      }

      a { display: none; }
    } 
  }

  .welcome-slider {
    grid-area: 5 / 2 / 6 / 5;
  }

  .slide-control-wrapper {
    grid-area: 6 / 1 / 7 / 6; 

    justify-content: center;

    max-height: 100px;
  }
  
  .slide-num {
    font-size: 20px;
    line-height: 40px;
  }

  .arrow-control {
    margin-right: 0;
  }
  
  .square {
    width: 12px;
    height: 12px;
  }
}