@media only screen and (max-width: 420px) {
  .welcome-section {
    .container {
      grid-template-columns: minmax(auto, 380px);
      grid-template-rows: minmax(auto, 85px) minmax(auto, 25px) 
                          minmax(auto, 19px) minmax(auto, 50px) 
                          minmax(auto, 285px) minmax(auto, 80px);
                          
      max-width: 380px;

      h1 { 
        grid-area: 1/ 1 /2 /2;

        font-size: 28px;
        line-height: 40px;
        margin-top: 5px;
      }

      p {
        grid-area: 3 / 1 / 4 / 1;
        font-size: 16px;
        line-height: 19px;
      }
    } 
  }

  .welcome-slider {
    grid-area: 5 / 1 / 6 / 2;
  }

  .slide-control-wrapper {
    grid-area: 6/ 1 / 7 /2; 

    column-gap: 20px;

    max-height: 80px;
  }
  
  .slide-num {
    font-size: 16px;
    line-height: 40px;
  }

  .arrow-control {
    width: 55px;
    padding-right: 0;

    svg {
      width: 20px;
      height: 8px;
    }
  }

  .square-control { 
    justify-content: space-between;
    width: 75px;
  }
  
  .square {
    width: 7px;
    height: 7px;
  }
}