@media only screen and (max-width: $break-1024) {
  .welcome-section {
    .container {
      grid-template-columns: minmax(auto, 284px ) minmax(auto, 112px) minmax(auto, 37px) minmax(auto, 551px);
      grid-template-rows: minmax(auto, 50px) minmax(auto, 180px) 
                          minmax(auto, 25px) minmax(auto, 28px) 
                          minmax(auto, 50px) minmax(auto, 60px) 
                          minmax(auto, 72px) minmax(auto, 60px)
                          minmax(auto, 60px);

      h1 {
        grid-area: 2 / 1 / 3 / 4; 

        line-height: 90px;
      }
    
      p {
        grid-area: 4 / 1 / 5/ 4;
        font-size: 24px;
        z-index: 5;
      }

      a {
        grid-area: 6 / 1 / 7/ 3;
        width: 300px;
        height: 60px;

        font-size: 20px;

        z-index: 5;
      }
    }
  }

  .welcome-slider {
    grid-area: 1 / 2 / 9 / 7;
  }
  
  .welcome-slide {
    width: 100%;
    height: 100%;
  }

  .slide-control-wrapper {
    grid-area: 8 / 1 / 10 /7; 

    column-gap: 45px;
    justify-content: flex-end;

    width: 100%;


    font-size: 20px;
  }

  .arrow-control {
    margin-right: 70px;
  }

  .square-control {
    width: 160px;    
  }

  .square {
    width: 12px;
    height: 12px;
  }
}
